body,html {
	margin: 0;
	padding: 0;
	/* 	color: #000; */
	/* 	background: #a7a09a; */
}

#wrap {
	width: 750px;
	margin: 0 auto;
	background: #3b3a3b;
}

#header {
	background: #ddd;
}

#nav {
	background: BLACK;
	opacity: 0.7;
	width: 785px;
}

#main {
	
}

#sidebar {
	
}

#footer {
	background: BLACK;
}

#main {
	float: left;
	width: 550px;
}

#sidebar {
	float: right;
	width: 200px;
	background: #3b3a3b;
}

#footer {
	clear: both;
	background: #BLACK;
}

#nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#nav li {
	display: inline;
	margin: 0;
	padding: 0;
}

#nav li a {
	text-decoration: none;
	/*width: 100px;*/
	width: 19%;
	float: left;
	text-align: center;
	border-left: 1px solid #fff;
	height: 30px;
	background: BLACK;
	color: WHITE;
	opacity: 0.7;
}

h2 {
	color: white;
}

h3 {
	color: white;
}

.widget-title {
	left: 50px;
	position: relative;
}