<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	style="background: url(img/backnoscan.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
<h:head>
	<link href="css/default.css" rel="stylesheet" type="text/css" />
	<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
</h:head>
<h:body>
	<div id="authForm" align="right">
		<h:form>
			<!-- 			<c:choose> -->
			<!-- 				<c:when test="#{request.getUserPrincipal() == null}"> -->
			<!-- 					<h:commandLink action="login.jsf">login</h:commandLink> -->
			<!-- 				</c:when> -->
			<!-- 				<c:otherwise> -->
							user: <h:outputText value="#{request.getUserPrincipal()}" />
			<!-- 					<br></br> -->
								<h:commandLink action="#{authenticator.logout()}">logout</h:commandLink>
			<!-- 					<br></br> -->
			<!-- 				</c:otherwise> -->
			<!-- 			</c:choose> -->
		</h:form>
	</div>
	<br></br>
	<div id="wrap">
		<!-- 		<div id="header"> -->
		<!-- 			<h1>Document Heading</h1> -->
		<!-- 		</div> -->
		<div id="nav">
			<ui:insert name="menu">
				<ui:include src="menu.xhtml" />
			</ui:insert>
		</div>
		<div id="main">
			<ui:insert name="content">
			</ui:insert>
		</div>
		<div id="sidebar">
			<ui:insert name="sidebar">
				<ui:include src="twitter_widget.xhtml" />
			</ui:insert>
		</div>
		<div id="footer">
			<p>Footer</p>
		</div>
	</div>
</h:body>
</html>