<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<head>
<link href="css/default.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<ui:composition>
		<ul id="list-nav">
			<li><a href="home.jsf">Home</a></li>
			<li><a href="team.jsf">Team</a></li>
			<li><a href="standings.jsf">Standings</a></li>
			<li><a href="races.jsf">Races</a></li>
			<li><a href="results.jsf">Results</a></li>
			<li><a href="help.jsf">Help</a></li>
		</ul>

	</ui:composition>
</body>
</html>