<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<title>Races</title>
</h:head>
<h:body>
	<ui:composition template="layout.xhtml">
		<ui:define name="content">
			<h:dataTable id="races" value="#{calendar.races}" var="race"
				bgcolor="#F1F1F1" border="10" cellpadding="5" cellspacing="3"
				first="0" width="50%" dir="LTR" frame="hsides" rules="all">


				<f:facet name="header">
					<h:outputText value="#{calendar.currentSeason}" />
				</f:facet>

				<h:column>
					<f:facet name="header">
						<h:outputText value="Round" />
					</f:facet>
					<h:outputText value="#{race.round}"></h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="Name" />
					</f:facet>
					<h:outputText value="#{race.name}"></h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="Circuit" />
					</f:facet>
					<h:outputText value="#{race.circuit}"></h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="Date" />
					</f:facet>
					<h:outputText value="#{race.endDate}"></h:outputText>
				</h:column>

			</h:dataTable>
			<br></br>
		</ui:define>
	</ui:composition>
</h:body>
</html>