<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<title>Results</title>
</h:head>

<h:body>
	<ui:composition template="layout.xhtml">
		<ui:define name="content">
			<h:form id="selectRace">
			Select Race:   <h:selectOneMenu value="#{results.selectedRace}" onchange="submit()">
					<f:selectItem itemValue="" itemLabel="--" />
					<f:selectItems value="#{results.races}" var="race"
						itemLabel="#{race.name}" itemValue="#{race.id}" />
				</h:selectOneMenu>
				<br></br>
			</h:form>
			
			<h:dataTable id="results" value="#{results.raceResults}" var="result"
				bgcolor="#F1F1F1" border="10" cellpadding="5" cellspacing="3"
				first="0" width="50%" dir="LTR" frame="hsides" rules="all">


				<f:facet name="header">
					<h:outputText value="#{results.selectedRaceName}" />
				</f:facet>

				<h:column>
					<f:facet name="header">
						<h:outputText value="Position" />
					</f:facet>
					<h:outputText value="#{result.position}"></h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="Name" />
					</f:facet>
					<h:outputText value="#{result.startNumber}"></h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="Points" />
					</f:facet>
					<h:outputText value="#{result.points}"></h:outputText>
				</h:column>

			</h:dataTable>
			
		</ui:define>
	</ui:composition>
</h:body>
</html>