<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<title>Edit team</title>
</h:head>
<h:body>
	<ui:composition template="layout.xhtml">
		<ui:define name="content">
			<h3>Edit team</h3>
			<h:form id="editTeam">
				<h:messages globalOnly="true" />
    	   Name: <h:inputText value="#{teamEdit.team.name}"></h:inputText>
				<br></br>
    	   Budget: <h:outputLabel value="#{teamEdit.team.budget}"></h:outputLabel>
				<br></br>
    	   Driver 1:
    	   <h:selectOneMenu value="#{teamEdit.team.driver1}" onclick="">
					<f:converter binding="#{driverConverter}" />
					<f:selectItems value="#{teamEdit.drivers}" var="driver"
						itemLabel="#{driver.name} (#{driver.price})" itemValue="#{driver}" />
				</h:selectOneMenu>
				<br></br>
		   Driver 2:
           <h:selectOneMenu value="#{teamEdit.team.driver2}">
					<f:converter binding="#{driverConverter}" />
					<f:selectItems value="#{teamEdit.drivers}" var="driver"
						itemLabel="#{driver.name} (#{driver.price})" itemValue="#{driver}" />
				</h:selectOneMenu>
				<br></br>
           Constructor:
           <h:selectOneMenu value="#{teamEdit.team.constructor}">
					<f:converter binding="#{constructorConverter}" />
					<f:selectItems value="#{teamEdit.constructors}" var="constructor"
						itemLabel="#{constructor.name} (#{constructor.price})"
						itemValue="#{constructor}" />
				</h:selectOneMenu>
				<br></br>
            Engine:
           <h:selectOneMenu value="#{teamEdit.team.engine}">
					<f:converter binding="#{engineConverter}" />
					<f:selectItems value="#{teamEdit.engines}" var="engine"
						itemLabel="#{engine.name} (#{engine.price})" itemValue="#{engine}" />
				</h:selectOneMenu>
				<br></br>
				<h:commandButton value="save" action="#{teamEdit.save}"></h:commandButton>
			</h:form>
		</ui:define>
	</ui:composition>
</h:body>
</html>