<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<title>Team</title>
</h:head>
<h:body>
	<ui:composition template="layout.xhtml">
		<ui:define name="content">
			<h3>Team</h3>
    Playername:
	<h:outputLabel id="userName" for="username"
				value="#{authenticator.username}" />
			<br></br>
	Teamname:
	<h:outputLabel id="teamName" for="name" value="#{teamEdit.team.name}" />
			<br></br>
	Budget:
    <h:outputLabel id="budget" for="budget"
				value="#{teamEdit.team.budget}" />
			<br></br>
    Driver 1:    
	<h:outputLabel id="teamDriver1" for="driver1"
				value="#{teamEdit.team.driver1.name}" />
			<br></br>
    Driver 2:
    <h:outputLabel id="teamDriver2" for="driver1"
				value="#{teamEdit.team.driver2.name}" />
			<br></br>
    Constructor:    
	<h:outputLabel id="teamConstructor" for="driver1"
				value="#{teamEdit.team.constructor.name}" />
			<br></br>
    Engine:    
	<h:outputLabel id="teamEngine" for="driver1"
				value="#{teamEdit.team.engine.name}" />
			<br></br>
			<h:outputLink value="teamedit.jsf">
				<h:outputText value="edit" />
			</h:outputLink>
		</ui:define>
	</ui:composition>
</h:body>
</html>