<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
</h:head>
<h:body>
	<ui:composition>
		<f:verbatim>
			<div id="twitter">
				<br></br>
				<font color="white" class="widget-title">Latest F1 News</font>
				<script>
					new TWTR.Widget({
						version : 2,
						type : 'search',
						search : '#BBCF1',
						interval : 30000,
						title : 'Formula 1 news',
						subject : '',
						width : 'auto',
						height : 300,
						theme : {
							shell : {
								background : '#3b3a3b',
								color : '#3b3a3b'
							},
							tweets : {
								background : '#3b3a3b',
								color : '#ffffff',
								links : '#ffffff'
							}
						},
						features : {
							scrollbar : false,
							loop : true,
							live : true,
							behavior : 'default'
						}
					}).render().start();
				</script>
			</div>
		</f:verbatim>
	</ui:composition>
</h:body>
</html>